# ignore everything
*

# except these files:
!*.gitignore
!README.md
!LICENSE
!.vimrc
!.dreamybashrc
!.zshrc
!.vimshrc
!.aliashrc
!.functionshrc
!.config/
!.config/nvim/
!.config/nvim/**
!.gemrc
.config/nvim/one_off.one_off_functions.vim
