# ignore everything
*

# except these files:
!*.gitignore
!README.md
!LICENSE
!.vimrc
!.ideavimrc
!.dreamybashrc
!.zshrc
!.vimshrc
!.aliashrc
!.functionshrc
!.vintrc.yaml
!.config/
!.config/nvim/
!.config/nvim/**
!.gemrc
.config/nvim/.one_off_functions.vim
