# ignore everything
*
.config/nvim/plugged/

# except these files:
!*.gitignore
!README.md
!LICENSE
!.vimrc
!.bashrc
!.zshrc
!.vimshrc
!.aliashrc
!.functionshrc
!.zprezto/
!.zprezto/**
!.config/
!.config/nvim/
!.config/nvim/**
!.gemrc
