set number
set relativenumber
" disable annoying bell sounds
set vb t_vb=
source ~/.config/nvim/init.core.vim
nmap <leader>] :action GotoDeclaration<CR>
" nnoremap <leader>; :action Switcher<CR>
nnoremap <leader>; :action Macro.SwitchToMruTab<CR>
nnoremap <leader>* :action FindUsages<CR>
